
@model IEnumerable<online.Product>

@{
    ViewBag.Title = "Index";
   
}

<h2>All Products</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div style="margin-bottom:20px">
                <img src="@Url.Content(item.Images)" height="350" width="250" />
            </div>
            <div class="caption">
                <h3>
                    @*@Html.ActionLink(@item.ProductName, "Details", new { id = item.ImageId })*@
                    <a href="~/products/Details/@item.ImageId" class="btn btn-default">Exploere</a>

                </h3>
            </div>
    
</div>
    }
    </div>

                        <p>
                            @*@Html.ActionLink("Edit", "Edit", new { id = Model.ImageId }) |*@
                            @Html.ActionLink("Back to List", "Index")
                        </p>
@*@**vbbbbb